In [1]:
import pandas as pd
import numpy as np

In [29]:
%matplotlib widget
# aka import ipympl
import matplotlib.pyplot as plt

In [30]:
from mpl_toolkits.mplot3d import axes3d, Axes3D

In [2]:
df = pd.read_csv("WS_measures/B3 Etat Initial.txt", sep=';', encoding='iso-8859-1')

In [3]:
df

,Type Elt.,Nom Elt.,Cote,Mesuré,Nominal,Ecart,Tol-,Tol+,Hors tol.,Commentaire,Commentaire utilisateur
0,Angle,Angle DetBox,Esp.,0.093,0.081,0.011,NaN,NaN,NaN,Plan DetBox - XY-PLANE / Repère.,NaN
1,Angle,Angle DetBox,XoY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angle,Angle DetBox,YoZ,-0.012,0.000,-0.012,NaN,NaN,NaN,NaN,NaN
3,Angle,Angle DetBox,ZoX,-0.092,-0.081,-0.011,NaN,NaN,NaN,NaN,NaN
4,Point,Centre DetBox,V.G.,0.075,0.000,0.075,NaN,NaN,NaN,Inter. de Plan DetBox avec Z-AXIS.,NaN
...,...,...,...,...,...,...,...,...,...,...,...
389,Droite,Y,E.F.,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN
390,Point,Y+,V.G.,NaN,NaN,NaN,-0.05,0.05,NaN,Proj. Goup CamMot1 / B.,NaN
391,Point,Y+,X,-0.009,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
392,Point,Y+,Y,257.927,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
393,Point,Y+,Z,-94.000,NaN,NaN,-0.05,0.05,NaN,NaN,NaN

In [4]:
df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == "B 1" )]

,Type Elt.,Nom Elt.,Cote,Mesuré,Nominal,Ecart,Tol-,Tol+,Hors tol.,Commentaire,Commentaire utilisateur
23,Point,B 1,V.G.,NaN,NaN,NaN,-0.05,0.05,NaN,Point de palpage extrait de l'élément B Option...,NaN
24,Point,B 1,X,-241.867,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
25,Point,B 1,Y,-89.896,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
26,Point,B 1,Z,-91.020,NaN,NaN,-0.05,0.05,NaN,NaN,NaN

In [5]:
df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == "B 1" )]["Mesuré"].dropna()

24   -241.867
25    -89.896
26    -91.020
Name: Mesuré, dtype: float64

In [102]:
verbose = False

In [103]:
data = []
point_names = ["B"]
colors = ["red"]
nbpoints = 29
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [104]:
point_names = ["B1","B3"]
colors = ["blue", "green"]
nbpoints = 9
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [105]:
point_names = ["B2"]
colors = ["k"]
nbpoints = 8
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [106]:
point_names = ["Plan DetBox"]
colors = ["orange"]
nbpoints = 9
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [97]:
verbose = True

point_names = ["CamMot1","Goup CamMot1","Goup1","Goup2"]
colors = ["yellow", "purple","cyan","lightblue"]
nbpoints = 3
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [107]:
point_names = ["Goup CamMot1","Goup1","Goup2"]
colors = ["purple","cyan","lightblue"]
nbpoints = 3
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [123]:
points_3d = pd.DataFrame(data, columns=["name", "point", "x", "y", "z","color"])

points_3d.set_index("point", inplace=True)

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

Axes3D.scatter(points_3d.x, points_3d.y, points_3d.z)

In [85]:
points_3d

   name  point        x        y       z  color
0     B      1 -241.867  -89.896 -91.020    red
1     B      2 -273.227  -33.720 -90.994    red
2     B      3 -269.311   57.794 -91.004    red
3     B      4 -128.464  257.836 -90.974    red
4     B      5  -83.876  242.872 -91.012    red
5     B      6  -32.156  288.148 -91.001    red
6     B      7  -32.613  256.583 -91.020    red
7     B      8 -150.703  240.727 -90.987    red
8     B      9  235.531 -169.140 -91.012    red
9     B     10  205.339 -153.400 -91.019    red
10    B     11  174.665 -209.518 -90.987    red
11    B     12   94.321 -268.262 -90.993    red
12    B     13   83.388 -251.354 -90.989    red
13    B     14  -92.565 -275.150 -90.980    red
14    B     15 -103.382 -238.717 -90.987    red
15    B     16 -234.425 -169.028 -91.023    red
16    B     17   35.733  253.622 -91.017    red
17    B     18   50.015  286.341 -90.991    red
18    B     19   95.626  251.776 -90.988    red
19    B     20  154.643  243.503 -90.979    red
20    B     21  167.451  200.773 -91.003    red
21    B     22  228.979  157.596 -91.010    red
22    B     23  236.605   99.402 -91.013    red
23    B     24  276.084   77.940 -90.995    red
24    B     25  275.403   76.752 -90.995    red
25    B     26  260.216  -18.471 -91.003    red
26    B     27  270.846 -105.575 -90.993    red
27    B     28  246.750 -107.686 -91.012    red
28    B     29  282.920  -24.287 -90.999    red
29   B1      1 -268.669 -103.477 -93.937   bleu
30   B1      2 -241.868  -89.896 -94.020   bleu
31   B1      3 -273.228  -33.720 -93.994   bleu
32   B1      4 -269.311   57.794 -94.004   bleu
33   B1      5 -221.157  168.643 -93.994   bleu
34   B1      6 -128.464  257.837 -93.974   bleu
35   B1      7  -83.876  242.872 -94.012   bleu
36   B1      8  -32.157  288.148 -94.001   bleu
37   B1      9  -32.613  256.584 -94.020   bleu
38   B3      1   35.734  253.623 -94.017  green
39   B3      2   50.015  286.341 -93.991  green
40   B3      3   95.626  251.776 -93.988  green
41   B3      4  154.643  243.503 -93.979  green
42   B3      5  167.451  200.773 -94.003  green
43   B3      6  228.979  157.596 -94.010  green
44   B3      7  236.605   99.402 -94.013  green
45   B3      8  276.085   77.940 -93.995  green
46   B3      9  275.403   76.752 -93.995  green
47   B2      1  235.531 -169.140 -94.012      k
48   B2      2  205.339 -153.401 -94.019      k
49   B2      3  174.665 -209.518 -93.987      k
50   B2      4   94.321 -268.262 -93.993      k
51   B2      5   83.388 -251.355 -93.989      k
52   B2      6  -92.565 -275.150 -93.980      k
53   B2      7 -103.382 -238.718 -93.987      k
54   B2      8 -234.425 -169.029 -94.023      k

In [125]:
fig = plt.figure()
ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
ax.scatter(points_3d.x, points_3d.y, points_3d.z, c=points_3d.color, s=50)
ax.legend()

<ipython-input-125-e31dbd872667>:1: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

No handles with labels found to put in legend.

In [126]:
groupby_name = points_3d.groupby(['name'])

In [128]:
group

('B',
    name  point        x        y       z color
 0     B      1 -241.867  -89.896 -91.020   red
 1     B      2 -273.227  -33.720 -90.994   red
 2     B      3 -269.311   57.794 -91.004   red
 3     B      4 -128.464  257.836 -90.974   red
 4     B      5  -83.876  242.872 -91.012   red
 5     B      6  -32.156  288.148 -91.001   red
 6     B      7  -32.613  256.583 -91.020   red
 7     B      8 -150.703  240.727 -90.987   red
 8     B      9  235.531 -169.140 -91.012   red
 9     B     10  205.339 -153.400 -91.019   red
 10    B     11  174.665 -209.518 -90.987   red
 11    B     12   94.321 -268.262 -90.993   red
 12    B     13   83.388 -251.354 -90.989   red
 13    B     14  -92.565 -275.150 -90.980   red
 14    B     15 -103.382 -238.717 -90.987   red
 15    B     16 -234.425 -169.028 -91.023   red
 16    B     17   35.733  253.622 -91.017   red
 17    B     18   50.015  286.341 -90.991   red
 18    B     19   95.626  251.776 -90.988   red
 19    B     20  154.643  243.503 -90.979   red
 20    B     21  167.451  200.773 -91.003   red
 21    B     22  228.979  157.596 -91.010   red
 22    B     23  236.605   99.402 -91.013   red
 23    B     24  276.084   77.940 -90.995   red
 24    B     25  275.403   76.752 -90.995   red
 25    B     26  260.216  -18.471 -91.003   red
 26    B     27  270.846 -105.575 -90.993   red
 27    B     28  246.750 -107.686 -91.012   red
 28    B     29  282.920  -24.287 -90.999   red)

In [147]:
#fig = plt.figure(figsize=(6,6))
fig = plt.figure()

ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
for name,group in groupby_name:
    #group.plot(x='saleDate', y='MeanToDate', title=title)
    ax.scatter(group.x, group.y, group.z, c=group.color, s=50, label=group.name.unique())

ax.legend(loc='best')

<ipython-input-147-e7b01e1582e8>:2: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [165]:
group =  groupby_name.get_group("B")
fig = plt.figure()
ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
ax.scatter(group.x, group.y, group.z, c=group.color, s=50, label=group.name.unique())
ax.legend()

<ipython-input-165-0b2dd4ec2c94>:2: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [162]:
group_liste = ["B1", "B2", "B3"]
groups = pd.concat( [ groupby_name.get_group(gr) for gr in group_liste] ).groupby('name')    
fig = plt.figure()
ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
for name,group in groups:
    #group.plot(x='saleDate', y='MeanToDate', title=title)
    ax.scatter(group.x, group.y, group.z, c=group.color, s=50, label=group.name.unique())
ax.legend()

<ipython-input-162-c1a47c83193a>:3: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [164]:
group =  groupby_name.get_group("Plan DetBox")
fig = plt.figure()
ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
ax.scatter(group.x, group.y, group.z, c=group.color, s=50, label=group.name.unique())
ax.legend()

<ipython-input-164-54a32e4f2e0e>:2: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  fig = plt.figure()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …