In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("WS_measures/B3 Etat Initial.txt", sep=';', encoding='iso-8859-1')

In [3]:
df

,Type Elt.,Nom Elt.,Cote,Mesuré,Nominal,Ecart,Tol-,Tol+,Hors tol.,Commentaire,Commentaire utilisateur
0,Angle,Angle DetBox,Esp.,0.093,0.081,0.011,NaN,NaN,NaN,Plan DetBox - XY-PLANE / Repère.,NaN
1,Angle,Angle DetBox,XoY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angle,Angle DetBox,YoZ,-0.012,0.000,-0.012,NaN,NaN,NaN,NaN,NaN
3,Angle,Angle DetBox,ZoX,-0.092,-0.081,-0.011,NaN,NaN,NaN,NaN,NaN
4,Point,Centre DetBox,V.G.,0.075,0.000,0.075,NaN,NaN,NaN,Inter. de Plan DetBox avec Z-AXIS.,NaN
...,...,...,...,...,...,...,...,...,...,...,...
389,Droite,Y,E.F.,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN
390,Point,Y+,V.G.,NaN,NaN,NaN,-0.05,0.05,NaN,Proj. Goup CamMot1 / B.,NaN
391,Point,Y+,X,-0.009,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
392,Point,Y+,Y,257.927,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
393,Point,Y+,Z,-94.000,NaN,NaN,-0.05,0.05,NaN,NaN,NaN

In [4]:
df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == "B 1" )]

,Type Elt.,Nom Elt.,Cote,Mesuré,Nominal,Ecart,Tol-,Tol+,Hors tol.,Commentaire,Commentaire utilisateur
23,Point,B 1,V.G.,NaN,NaN,NaN,-0.05,0.05,NaN,Point de palpage extrait de l'élément B Option...,NaN
24,Point,B 1,X,-241.867,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
25,Point,B 1,Y,-89.896,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
26,Point,B 1,Z,-91.020,NaN,NaN,-0.05,0.05,NaN,NaN,NaN

In [5]:
df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == "B 1" )]["Mesuré"].dropna()

24   -241.867
25    -89.896
26    -91.020
Name: Mesuré, dtype: float64

In [6]:
nbpoints = 29

In [7]:
data = []
for point in np.arange(nbpoints)+1:
    x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"B {point}" )]["Mesuré"].dropna()
    print(f"B{point}",x,y,z)
    data.append([f"B{point}",x,y,z])

B1 -241.86700000000002 -89.896 -91.02
B2 -273.22700000000003 -33.72 -90.994
B3 -269.311 57.794 -91.00399999999999
B4 -128.464 257.836 -90.97399999999999
B5 -83.876 242.872 -91.012
B6 -32.156 288.14799999999997 -91.001
B7 -32.613 256.58299999999997 -91.02
B8 -150.703 240.727 -90.98700000000001
B9 235.53099999999998 -169.14 -91.012
B10 205.33900000000003 -153.4 -91.01899999999999
B11 174.665 -209.518 -90.98700000000001
B12 94.321 -268.262 -90.993
B13 83.38799999999999 -251.354 -90.98899999999999
B14 -92.565 -275.15 -90.98
B15 -103.382 -238.717 -90.98700000000001
B16 -234.425 -169.028 -91.023
B17 35.733000000000004 253.622 -91.01700000000001
B18 50.015 286.341 -90.991
B19 95.626 251.77599999999998 -90.988
B20 154.643 243.503 -90.979
B21 167.451 200.773 -91.00299999999999
B22 228.979 157.596 -91.01
B23 236.605 99.402 -91.01299999999999
B24 276.084 77.94 -90.995
B25 275.403 76.752 -90.995
B26 260.216 -18.471 -91.00299999999999
B27 270.846 -105.575 -90.993
B28 246.75 -107.686 -91.012
B29 282.92 -24.287 -90.999

In [8]:
points_3d = pd.DataFrame(data, columns=["point", "x", "y", "z"])

In [9]:
points_3d.set_index("point", inplace=True)

In [10]:
#%matplotlib agg
# aka import ipympl
import matplotlib.pyplot as plt

In [12]:
from mpl_toolkits.mplot3d import axes3d, Axes3D

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

Axes3D.scatter(points_3d.x, points_3d.y, points_3d.z)

plt.show()

In [13]:
fig = plt.figure()
ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
ax.scatter(points_3d.x, points_3d.y, points_3d.z, c='r', s=50)

import matplotlib
print(matplotlib.get_backend())