In [1]:
import pandas as pd
import numpy as np

In [2]:
%matplotlib widget
# aka import ipympl
import matplotlib.pyplot as plt

In [3]:
from mpl_toolkits.mplot3d import axes3d, Axes3D

In [4]:
df = pd.read_csv("WS_measures/B3 Etat Initial.txt", sep=';', encoding='iso-8859-1')

In [5]:
df

,Type Elt.,Nom Elt.,Cote,Mesuré,Nominal,Ecart,Tol-,Tol+,Hors tol.,Commentaire,Commentaire utilisateur
0,Angle,Angle DetBox,Esp.,0.093,0.081,0.011,NaN,NaN,NaN,Plan DetBox - XY-PLANE / Repère.,NaN
1,Angle,Angle DetBox,XoY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Angle,Angle DetBox,YoZ,-0.012,0.000,-0.012,NaN,NaN,NaN,NaN,NaN
3,Angle,Angle DetBox,ZoX,-0.092,-0.081,-0.011,NaN,NaN,NaN,NaN,NaN
4,Point,Centre DetBox,V.G.,0.075,0.000,0.075,NaN,NaN,NaN,Inter. de Plan DetBox avec Z-AXIS.,NaN
...,...,...,...,...,...,...,...,...,...,...,...
389,Droite,Y,E.F.,0.000,NaN,0.000,NaN,NaN,NaN,NaN,NaN
390,Point,Y+,V.G.,NaN,NaN,NaN,-0.05,0.05,NaN,Proj. Goup CamMot1 / B.,NaN
391,Point,Y+,X,-0.009,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
392,Point,Y+,Y,257.927,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
393,Point,Y+,Z,-94.000,NaN,NaN,-0.05,0.05,NaN,NaN,NaN

In [6]:
df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == "B 1" )]

,Type Elt.,Nom Elt.,Cote,Mesuré,Nominal,Ecart,Tol-,Tol+,Hors tol.,Commentaire,Commentaire utilisateur
23,Point,B 1,V.G.,NaN,NaN,NaN,-0.05,0.05,NaN,Point de palpage extrait de l'élément B Option...,NaN
24,Point,B 1,X,-241.867,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
25,Point,B 1,Y,-89.896,NaN,NaN,-0.05,0.05,NaN,NaN,NaN
26,Point,B 1,Z,-91.020,NaN,NaN,-0.05,0.05,NaN,NaN,NaN

In [7]:
df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == "B 1" )]["Mesuré"].dropna()

24   -241.867
25    -89.896
26    -91.020
Name: Mesuré, dtype: float64

In [8]:
verbose = False

In [9]:
data = []
point_names = ["B"]
colors = ["red"]
nbpoints = 29
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [10]:
point_names = ["B1","B3"]
colors = ["blue", "green"]
nbpoints = 9
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [11]:
point_names = ["B2"]
colors = ["k"]
nbpoints = 8
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [12]:
point_names = ["Plan DetBox"]
colors = ["orange"]
nbpoints = 9
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [ ]:
verbose = True

point_names = ["CamMot1","Goup CamMot1","Goup1","Goup2"]
colors = ["yellow", "purple","cyan","lightblue"]
nbpoints = 3
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [13]:
point_names = ["Goup CamMot1","Goup1","Goup2"]
colors = ["purple","cyan","lightblue"]
nbpoints = 3
for name,color in zip(point_names,colors):
    for point in np.arange(nbpoints)+1:
        x,y,z = df[(df["Type Elt."] == "Point") & (df["Nom Elt."] == f"{name} {point}" )]["Mesuré"].dropna()
        if verbose : print(f"{name} {point}",x,y,z)
        data.append([name,point,x,y,z,color])

In [14]:
points_3d = pd.DataFrame(data, columns=["name", "point", "x", "y", "z","color"])

In [16]:
points_3d.to_csv("WS_measures/df_B3_Etat_Initial.csv")

points_3d.set_index("point", inplace=True)

fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

Axes3D.scatter(points_3d.x, points_3d.y, points_3d.z)

In [ ]:
points_3d

In [ ]:
fig = plt.figure()
ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
ax.scatter(points_3d.x, points_3d.y, points_3d.z, c=points_3d.color, s=50)
ax.legend()

In [17]:
groupby_name = points_3d.groupby(['name'])

In [ ]:
group

In [22]:
#fig = plt.figure(figsize=(6,6))
fig = plt.figure()

ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
for name,group in groupby_name:
    #group.plot(x='saleDate', y='MeanToDate', title=title)
    ax.scatter(group.x, group.y, group.z, c=group.color, s=50, label=group.name.unique())

ax.legend(loc='best')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [19]:
group =  groupby_name.get_group("B")
fig = plt.figure()
ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
ax.scatter(group.x, group.y, group.z, c=group.color, s=50, label=group.name.unique())
ax.legend()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [24]:
group_liste = ["B1", "B2", "B3"]
groups = pd.concat( [ groupby_name.get_group(gr) for gr in group_liste] ).groupby('name')    
fig = plt.figure()
ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
for name,group in groups:
    #group.plot(x='saleDate', y='MeanToDate', title=title)
    ax.scatter(group.x, group.y, group.z, c=group.color, s=50, label=group.name.unique())
ax.legend()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [21]:
group =  groupby_name.get_group("Plan DetBox")
fig = plt.figure()
ax = fig.gca(projection='3d')
#ax.plot_surface(X, Y, Z, rstride=1, cstride=1, alpha=0.2)
ax.scatter(group.x, group.y, group.z, c=group.color, s=50, label=group.name.unique())
ax.legend()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …